@import './global.scss';
@import './mixins.scss';

.begin-button {
    font-size: 2rem;
    font-weight: 650;
    padding: 0.5em .85em;
    text-transform: uppercase;
    background-color: #00DA9F;
    border-radius: 2em;
}

.home-IP {
    font-size: 2.35rem;

    @include respond-to("small") {
        font-size: 4rem;
    }
}

.instructions {
    font-size: 1.25rem;
    text-align: center;

    @include respond-to("small") {
        font-size: 2.25rem;
    }
}