@import './global.scss';
@import './mixins.scss';
@import './variables.scss';

.container {
    color: $tech-green;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    width: 100vw;
    overflow: hidden;

    @include respond-to("small") {
        height: 95vh;
    }
}