@import './global.scss';
@import './variables.scss';
@import './mixins';

.main-game {
    font-size: 1.2rem;
    display: inline;
    border-radius: 20px;
    box-shadow: 0px 14px 25px $tech-green;
    padding: 1.25em;
    max-width: 7em;
    min-width: 7em;
    text-align: center;

    @include respond-to("small") {
        font-size: 3rem;
    }
}

.ip-address {
    text-align: center;
}

.top-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85.5%;
    @include large-font;

    .info-icon {
      padding-right: 0.35em;
    }
    
    .home-icon {
        padding-left: 0.35em;
    }
}

.swipe-arrows {
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    width: 77.5%;
    display: none;

    @include respond-to("small") {
        font-size: 2rem;
        display: flex;
    }

    .left-arrow::after {
      content: "private";
      margin-left: 0.5em;
    }

    .right-arrow::before{
      content: "public";
      margin-right: 0.5em;
    }
}