@import './global.scss';
@import './variables.scss';
@import './mixins';

.game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.instructions {
    font-size: 1.25rem;
    text-align: center;
    margin: 0 1.25em;

    &::before {
        content: "Swipe";
        position: relative;
        margin-right: 0.35em;

        @include respond-to("small") {
            content: "Click";
        }
    }

    @include respond-to("small") {
        font-size: 2.25rem;
    }
}

.pulseChevron {
    animation: pulse 3s infinite;
    font-size: 2rem;

    @include respond-to("small") {
        display: none;
    }
}

@keyframes pulse {
    0% {
      color: $tech-green; 
    }
    100% {
        color: black;
    }
}

.main-game {
    font-size: 1.2rem;
    border-radius: 20px;
    box-shadow: 0px 14px 25px $tech-green;
    padding: 1.25em;
    max-width: 7em;
    min-width: 7em;
    text-align: center;
    margin: 0 1.25em;

    @include respond-to("small") {
        font-size: 3rem;
    }

    &.slidingLeft {
      transform: translate(-30em, 0);
      transition: 1s;
    }

    &.slidingRight {
      transform: translate(30em, 0);
      transition: 1s;
    }
}

.ip-address {
    text-align: center;
}

.top-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 85.5%;
    @include large-font;
    padding-right: 0.35em;
}

.swipe-arrows {
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    width: 77.5%;
    display: none;

    @include respond-to("small") {
        font-size: 2rem;
        display: flex;
    }

    .left-arrow::after {
      content: "private";
      margin-left: 0.5em;
    }

    .right-arrow::before{
      content: "public";
      margin-right: 0.5em;
    }
}